body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    font-family: 'Fredoka One', cursive;
}

header{
    background: linear-gradient(to bottom,rgb(42, 204, 14) 90%, rgba(0, 0, 0, 0.5) 100%);
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.miTeam{
    color: rgba(255, 255, 255, 0.692);
}

.logo{
    min-width: 150px;
    margin: 15px;
}

.menu{
    visibility: hidden;
    display: none;
}

nav ul, nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}
ul a{
    display: block;
    text-align: center;
    width: 150px;
    text-decoration: none;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    transition: 0.4s ease; /* Agrega una transición suave */
}

ul a:hover{
    background: rgb(26, 104, 13);
    border-radius: 10px;
}

main img{
    width: 100%;
    border-bottom:rgba(43, 204, 14, 0.116) 2px solid;
    height: auto;
}

main{
    background: linear-gradient(to bottom, rgb(42, 204, 14) 10%, rgb(0, 0, 0) 60%);
}

main .infoPrincipal{
    margin: 0 auto;
    font-size: 1.3rem;
    max-width: 1200px;
    margin-bottom: 50px;
}

.infoPrincipal p{
    margin: 0 50px;
}

.infoPrincipal h3{
    text-align: center;
    margin-top: 50px;
    font-size: 1.7rem;
    color: rgb(42, 204, 14);
}

.infoPrincipal h2{
    text-align: center;
    font-size: 3rem;
}

.infoPrincipal .video{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:rgb(43, 204, 14) 2px solid;
    border-radius: 50px;
}
.video video{
    min-width: 250px;
    border-radius: 50px;
}

footer{
    font-size: 1.3rem;
    background: linear-gradient(to top,rgb(42, 204, 14) 90%, rgba(0, 0, 0, 0.5) 100%);
    height: fit-content;
}

footer .redes{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}


.derechos{
    margin: 0;
    padding:  0 30px 30px 30px;
    text-align: center;
}

.redes img{
    width: 100px;
}

.redes .insta{
    width: 90px;
}

footer .rey{
    display: block;
    margin-left: auto;
    margin-right: auto;
}