header{
    gap: 10px;
}

.menu{
    visibility: visible;
    display: block;
    margin: 20px 10px ;
}

nav ul{
    visibility: hidden;
    display: none;
    gap: 10px;
}

nav ul{
    position: absolute;
    top: 80px;
    right: 50px;
    display: block;
    background-color: black;
    border: 2px solid rgb(69, 202, 45);
    padding: 10px 0;
}


ul a{
    width: 150px;
    padding: 10px;
    transition: none; 
}


.infoPrincipal p{
    margin: 0 25px;
}
