header{
    gap: 10px;
}

.menu{
    visibility: visible;
    display: block;
    margin: 20px 10px ;
}


main{
    background: linear-gradient(to bottom, rgb(42, 204, 14) 1%, rgb(0, 0, 0) 40%);
}

nav ul{
    visibility: hidden;
    display: none;
    gap: 10px;
}

nav ul{
    position: absolute;
    top: 80px;
    right: 50px;
    display: block;
    background-color: black;
    border: 2px solid rgb(69, 202, 45);
    padding: 10px 0;
}

ul a{
    width: 150px;
    padding: 10px;
}

.infoPrincipal img{
    width: 70%;
}

.infoPrincipal h3{
    margin: 30px 30px 10px;
}

.infoPrincipal p{
    margin: 0 25px;
}